# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Data cache & large downloads (we track outputs/visuals and schemas, but ignore huge raw files if needed)
data/hdfs/raw/**/*.jsonl
data/hdfs/
data/hbase_kv_store.json
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
